@use "../utils/colors-variables" as *;

.app-button {
  border-radius: 12px;
  border: 1px solid $color_primary;
  background: $color_primary;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.outline {
    background: $color_white !important;
  }

  &.active {
    background: $color_senary;
  }

  &.filled {
    background: $color_primary !important;
  }

  &.disabled {
    cursor: not-allowed;
  }
}